<?xml version="1.0"?>
<launch>
  
  <group ns="sauv">
    <node name="dxm_sauv" pkg="mango_dxm" type="dxm.py" args="1" output="screen" launch-prefix="xterm -e"/>
    <include file="$(find vehicle_core)/launch/nav_sim.launch"/>
    <include file="$(find vehicle_core)/launch/pilot_sim.launch"/>
    <node name="sauv_exec" pkg="mango_dxm" type="sauv_exec.py" args="1" output="screen" launch-prefix="xterm -e"/>
  </group>
  
  <group ns="iauv1">
    <node name="dxm_iauv" pkg="mango_dxm" type="dxm.py" args="2" output="screen"/>
    <include file="$(find vehicle_core)/launch/nav_sim.launch"/>
    <include file="$(find vehicle_core)/launch/pilot_sim.launch"/>
    <node name="iauv_exec" pkg="mango_dxm" type="iauv_exec.py" args="2" output="log"/>
  </group>
  
  <group ns="iauv2">
    <node name="dxm_iauv" pkg="mango_dxm" type="dxm.py" args="3" output="screen"/>
    <include file="$(find vehicle_core)/launch/nav_sim.launch"/>
    <include file="$(find vehicle_core)/launch/pilot_sim.launch"/>
    <node name="iauv_exec" pkg="mango_dxm" type="iauv_exec.py" args="3" output="log"/>
  </group>
  

</launch>
